@use "./variables" as *;

.landing {
  display: grid;

  h1 {
    align-self: flex-end;
    font-size: clamp(2.5em, 5vw, 5em);
    line-height: 1;
    position: relative;
    isolation: isolate;
    width: max-content;
    pointer-events: none;

    > span {
      display: inline-block;
      animation: drop-in 0.8s ease-in forwards;

      @keyframes drop-in {
        0% {
          translate: 0 -100vh;
          rotate: 0deg;
        }
        70% {
          translate: 0 0;
          rotate: 0deg;
        }
        80% {
          translate: 0 -0.25em;
          rotate: -2deg;
        }
        90% {
          translate: 0 -0.25em;
          rotate: 2deg;
        }
        100% {
          scale: 1 1;
          translate: 0 0;
        }
      }
    }

    .backdrop {
      position: absolute;
      bottom: 0;
      font-size: 2em;
      line-height: 0.85;
      letter-spacing: -5px;
      z-index: -1;
      display: flex;
      justify-content: space-between;
      width: 100%;
      opacity: 0.5;

      span {
        color: $lightblue;
        pointer-events: all;

        &.animating {
          animation: squish 0.5s ease;

          @keyframes squish {
            0% {
              scale: 1 1;
            }
            50% {
              scale: 1.1 0.9;
            }
            100% {
              scale: 1 1;
            }
          }
        }
      }
    }
  }

  p {
    font-size: clamp(0.75em, 1.5vw, 1.5em);
    position: relative;
    max-width: 60ch;
    height: max-content;
    animation: fadeIn 0.5s ease forwards;

    &::first-letter {
      font-size: 1.5em;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
        translate: 0 -10px;
      }
      100% {
        opacity: 1;
        translate: 0;
      }
    }
  }
}

@include mq($mobile) {
  .landing {
    justify-content: center;

    p {
      justify-self: center;
      text-align: center;
    }
  }
}
