@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,400&display=swap");

:root {
  font-size: 12px;
  --blue: #5f77f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
}
@page {
  size: A4;
  margin: 0.75cm;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm; // A4 size
  }
}
svg {
  width: 1em;
  height: 1em;
}
a {
  color: inherit;
}

header {
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  font-size: 1.25vw;

  .name {
    float: left;
    padding-right: 0.5rem;

    h1 {
      text-align: right;
      font-size: 3em;
      font-weight: 500;
    }
  }

  span,
  a {
    display: flex;
    align-items: center;
    gap: 0.5em;

    i {
      width: 24px;
      text-align: center;
    }
  }
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;

  span,
  a {
    justify-content: end;
  }
}

.links {
  border-left: 1px solid black;
  padding-left: 0.5rem;
  float: left;
}

section {
  margin-top: 1rem;

  h2 {
    color: var(--blue);
    font-weight: 900;
    font-size: 1.4em;
    display: inline-block;
  }

  > p {
    margin-top: 0.5rem;
    padding: 0 0.25rem;
  }
}

p.subtext {
  font-style: italic;
  font-size: 0.9em;
  margin: 0;
}

.experience {
  margin-top: 0.5rem;
  border-bottom: 1px solid black;
  padding: 0 0.25rem;
  break-inside: avoid;

  &.continued {
    border-bottom: initial;
  }

  .heading {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    .icon img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      object-fit: contain;
    }

    > div {
      grid-column: 2;
    }
  }

  .firstRow {
    height: 1.5rem;
    display: grid;
    grid-template-columns: 1fr auto;

    .title {
      width: max-content;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .secondRow {
    font-size: 0.9em;
    font-style: italic;

    .company {
      float: left;
    }
    .date {
      float: right;
    }
  }

  .context {
    padding: 0 0.25rem;
    border-left: 2px solid var(--blue);
    font-size: 0.9em;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  .description {
    margin: 0.25rem 0 0.5rem 4rem;

    li {
      margin-top: 0.125rem;
    }
  }
}

.education {
  padding: 0 0.25rem;
  break-inside: avoid;

  .school {
    margin-top: 0.25rem;
    font-weight: bold;
    float: left;
  }
  .date {
    float: right;
  }
  .location {
    font-size: 0.75em;
    font-style: italic;
    float: left;
  }
  .average {
    font-size: 0.75em;
    font-style: italic;
    float: right;
  }
  .awards {
    margin-block-start: 0.25rem;
    margin-inline-start: 1.5rem;
    font-size: 0.9em;
  }
}

#skills {
  break-inside: avoid;

  .skills {
    margin: 0.25rem 0.5rem;
  }
}

.projects {
  list-style: none;

  .project {
    margin-top: 0.5rem;
    border-bottom: 1px solid black;
    padding: 0.25rem;
    padding-top: 0;
    break-inside: avoid;

    h4 {
      display: inline-block;
    }
    a {
      margin-inline-start: 0.5em;
      border-bottom: 1px solid;
    }
  }
}
