@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 1cm;
}
svg {
  width: 1em;
  height: 1em;
}
a {
  color: inherit;
}

header {
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  font-size: 1.25vw;

  .name {
    float: left;
    padding-right: 0.5rem;

    h1 {
      text-align: right;
    }
  }

  span, a {
    display: flex;
    align-items: center;
    gap: 0.5em;
  
    i {
      width: 24px;
      text-align: center;
    }
  }
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;

  span, a {
    justify-content: end;
  }
}

.links {
  border-left: 1px solid black;
  padding-left: 0.5rem;
  float: left;
}

section {
  margin-top: 1rem;

  h2 {
    font-size: 1.4em;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: 40%;
      padding-top: 0.25rem;
      border-bottom: 5px solid black;
    }
  }
}

#intro p {
  text-align: center;
}

.experience {
  margin-top: 0.5rem;
  border-bottom: 1px solid black;
  padding: 0 0.25rem;
  break-inside: avoid;

  .firstRow {
    height: 1.5rem;

    .company {
      font-weight: bold;
      float: left;
    }
    .date {
      float: right;
    }
  }

  .secondRow {
    font-size: 0.75em;
    font-style: italic;

    .title {
      float: left;
    }
    .location {
      float: right;
    }
  }

  .description {
    margin: 0.25rem 0 0.5rem 2rem;

    li {
      margin-top: 0.25rem;
    }
  }
}

.education {
  padding: 0 0.25rem;
  break-inside: avoid;

  .school {
    margin-top: 0.25rem;
    font-weight: bold;
    float: left;
  }
  .date {
    float: right;
  }
  .location {
    font-size: 0.75em;
    font-style: italic;
    float: left;
  }
  .average {
    font-size: 0.75em;
    font-style: italic;
    float: right;
  }
  .awards {
    margin-block-start: 0.25rem;
    margin-inline-start: 1.5rem;
    font-size: 0.9em;
  }
}

#skills {
  break-inside: avoid;
}
.skills-list {
  margin-top: 0.5rem;
  padding: 0 0.25rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.25rem;
  max-height: 12rem;
}
.skills__category {
  strong {
    display: inline;
    text-transform: capitalize;
  }

  p {
    display: inline;
  }

  ul {
    list-style: none;
    margin-left: 1rem;
  }
}
.skill {
  margin-left: 1.5rem;
}

.projects {
  list-style: none;

  .project {
    margin-top: 0.5rem;
    border-bottom: 1px solid black;
    padding: 0.25rem;
    padding-top: 0;
    break-inside: avoid;

    h4 {
      display: inline-block;
    }
    a {
      margin-inline-start: 0.5em;
      border-bottom: 1px solid;
    }
  }
}
