.skills {
  .skills-list {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    width: 100%;
    max-width: 14em;
    font-size: 3em;
    transform-origin: 0 0;
    pointer-events: initial;

    li {
      letter-spacing: 0.1em;
      line-height: 1;
      font-weight: 600;

      &:nth-child(odd) {
        font-weight: 100;
      }
    }

    &.broken {
      pointer-events: none;
      animation: broken 5s ease-in-out;

      @keyframes broken {
        0% {
          rotate: 0deg;
        }
        10% {
          rotate: 110deg;
        }
        30% {
          rotate: 60deg;
        }
        50% {
          rotate: 95deg;
        }
        70% {
          rotate: 80deg;
        }
        90% {
          rotate: 90deg;
        }
        100% {
          rotate: 0deg;
        }
      }
    }

    &:active {
      animation: shake 0.2s ease-in-out;

      @keyframes shake {
        0% {
          translate: 0 0;
        }
        20% {
          translate: 5px 0;
        }
        40% {
          translate: -5px 0;
        }
        60% {
          translate: 5px 0;
        }
        80% {
          translate: -5px 0;
        }
        100% {
          translate: 0 0;
        }
      }
    }

    &::after {
      content: "Click Me!";
    }
  }
}
