.skills {
  .container {
    place-items: initial;
    pointer-events: initial;

    &::after {
      content: attr(shout);
      filter: hue-rotate(var(--deg));
      font-size: 2em;
    }

    &.active {
      animation: punch 0.2s ease-out;

      @keyframes punch {
        0% {
          scale: 1;
        }
        40% {
          scale: 0.9;
        }
        100% {
          scale: 1;
        }
      }
    }
  }

  .skills-list {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 14em;
    font-size: clamp(1.25em, 3vw, 3em);

    li {
      letter-spacing: 0.1em;
      line-height: 1;
      font-weight: 600;

      &:nth-child(odd) {
        font-weight: 100;
      }
    }
  }
}
