@use "./variables" as *;

.skills {
  .container {
    place-items: initial;
  }

  .skills-list {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: calc(100% - 20rem);
    // font-size: clamp(1.25em, 3vw, 3em);
    font-size: clamp(1.25em, 2vw, 3em);
    position: relative;

    @include mq($mobile) {
      max-width: 100%;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;
      border-radius: 8px;
      border: 1px solid rgba($text-color, 0.4);
      font-weight: bold;
      transition: box-shadow 0.2s ease, scale 0.2s ease;
      position: relative;
      top: var(--dy);
      left: var(--dx);
      cursor: move;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      &.dragging {
        box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
        scale: 1.05;
      }

      svg {
        pointer-events: none;
      }
    }
  }
}
