<h1>Interests</h1>
<div class="cube-only">
  <ul>
    {%- for interest in site.data.interests -%}
    <li>{{ interest.name }}</li>
    {%- endfor -%}
  </ul>
</div>
<div class="fullpage-only">
  <div class="interest-container">
    {%- for interest in site.data.interests -%}
    <div class="interest">
      <img src="{{ interest.image }}" alt="{{ interest.name }}" />
      <div class="content">
        <h4>{{ interest.name }}</h4>
        <p>{{ interest.description }}</p>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>
