<nav class="nav" role="navigation">
  <ul class="nav-list">
    <li class="nav-item active">
      <a href="#home">
        <span class="tooltip right">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#about">
        <span class="tooltip right">About</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#resume">
        <span class="tooltip right">Resume</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#projects">
        <span class="tooltip right">Projects</span>
      </a>
    </li>
  </ul>
</nav>
