* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 1.25vw;

  .name {
    float: left;
    padding-right: 10px;

    h1 {
      text-align: right;
    }
  }
}

.clear {
  clear: both;
}

.left {
  float: left;
  width: 70%;
}

.right {
  float: right;
}

span i {
  width: 24px;
  text-align: center;
}

.links {
  border-left: 1px solid black;
  padding-left: 10px;
  float: left;
}

section {
  margin-top: 20px;

  h2 {
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: 40%;
      padding-top: 5px;
      border-bottom: 5px solid black;
    }
  }
}

.experience {
  margin-top: 10px;
  border-bottom: 1px solid black;
  padding: 0 8px;
  break-inside: avoid;

  .firstRow {
    height: 25px;

    .company {
      font-weight: bold;
      float: left;
      line-height: 25px;
    }
    .date {
      float: right;
      line-height: 25px;
    }
  }

  .secondRow {
    font-size: 0.75em;
    font-style: italic;

    .title {
      float: left;
    }
    .location {
      float: right;
    }
  }

  .description {
    margin: 5px 0 10px 24px;

    li {
      margin-top: 5px;
    }
  }
}

.education {
  margin-top: 10px;
  padding: 0 8px;
  break-inside: avoid;
  
  .school {
    font-weight: bold;
    float: left;
    line-height: 25px;
  }
  .date {
    float: right;
    line-height: 25px;
  }
  .location {
    font-size: 0.75em;
    font-style: italic;
    float: left;
  }
}

#skills {
  break-inside: avoid;
}
.skills-list {
  margin-top: 10px;
  display: flex;
  flex-flow: column wrap;
  gap: 0.25rem;
  max-height: 12rem;
}
.skill {
  margin-left: 1.5rem;
}
