$cube-scale: 60vmin;

/* Colors */
$blue: rgb(31, 117, 255);
$green: rgb(102, 255, 71);
$yellow: rgb(248, 255, 37);
$orange: rgb(247, 143, 74);

$bg-gradient: radial-gradient(
  circle,
  rgba(97, 97, 97, 1) 0%,
  rgba(0, 0, 0, 1) 100%
);
