/* Colors */
$orange: rgba(208, 106, 12, 1);
$grey: rgba(190, 190, 190, 1);

/* Gradients */
$orange-gradient: linear-gradient(
  to right,
  rgba(240, 123, 15, 1),
  rgba(176, 89, 10, 1)
);
$bg-gradient: linear-gradient(
  45deg,
  rgba(98, 98, 98, 1) 0%,
  rgba(203, 203, 203, 1) 100%
);

/* Media Queries */
$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin hover {
  @media screen and (hover: hover) {
    &:hover {
      @content;
    }
  }
}
