@keyframes lslide {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}

.contact {
  position: fixed;
  top: 50%;
  right: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  transform: translate(0, -50%);
  font-size: 1.25rem;

  .contact-link {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease;
    animation: lslide 0.4s ease forwards;
    transform: translateX(200px);

    @include hover {
      filter: invert(1);
    }

    @for $i from 2 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: 0.05s * ($i - 1);
      }
    }
  }

  @include media-query($on-palm) {
    flex-flow: row;
    gap: 1rem;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 3rem;
  }
}
