.projects {
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .card {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 1rem;
    background: linear-gradient(
      45deg,
      rgba(22, 22, 22, 1),
      rgba(66, 66, 66, 1)
    );
    color: white;
    position: relative;
    box-shadow: -4px 0 8px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;

    &:not(:first-child) {
      margin-left: -150px;
    }

    .card-title {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
    .card-tags {
      display: flex;
      flex-flow: wrap;
      gap: 0.5rem;

      .tag {
        font-size: 0.7em;
        padding: 0 0.5rem;
        border-radius: 30px;
        background: $orange-gradient;
      }
    }
    .card-description {
      margin: 2rem 0;
    }
    .card-link {
      position: absolute;
      bottom: 1rem;
      left: 1rem;

      a {
        color: $orange;
        opacity: 0.4;
        transition: opacity 0.2s ease;

        @include hover {
          opacity: 1;
        }
      }
    }

    @include hover {
      transform: translate(0, -30px);

      & ~ .card {
        transform: translate(140px, 0);
      }
    }
  }

  @include media-query($on-palm) {
    .cards {
      flex-flow: column;
      margin: 0 4rem;
    }
    .card {
      width: auto;
      height: auto;
      max-width: 100%;
      margin-left: 0 !important;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .card-description {
        margin-top: 0.5rem;
      }
    }
  }
}
