.projects {
  .card-container {
    margin: auto;
    max-width: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 4rem;
      right: 0;
      height: calc(100% - 4.5rem);
      width: 8rem;
      background-image: linear-gradient(
        to right,
        rgba(black, 0),
        rgba(black, 1)
      );
      pointer-events: none;
    }
  }
  .cards {
    display: flex;
    align-items: center;

    margin: auto 0 auto 4rem;
    // margin-left: 4rem;
    padding: 4rem 4rem 0.5rem 0;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: 100%;
    position: relative;

    &::-webkit-scrollbar {
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: black;
    }
  }
  .card {
    min-width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 1rem;
    background: linear-gradient(
      45deg,
      rgba(22, 22, 22, 1),
      rgba(66, 66, 66, 1)
    );
    color: white;
    position: relative;
    box-shadow: -4px 0 8px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;

    &:not(:first-child) {
      margin-left: -150px;
    }

    .card-title {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
    .card-tags {
      display: flex;
      flex-flow: wrap;
      gap: 0.5rem;

      .tag {
        font-size: 0.7em;
        padding: 0 0.5rem;
        border-radius: 30px;
        background: $orange-gradient;
      }
    }
    .card-description {
      margin: 2rem 0;
    }
    .card-link {
      position: absolute;
      bottom: 1rem;
      left: 1rem;

      a {
        color: $orange;
        opacity: 0.4;
        transition: opacity 0.2s ease;

        @include hover {
          opacity: 1;
        }
      }
    }

    @include hover {
      transform: translate(0, -30px);

      & ~ .card {
        transform: translate(140px, 0);
      }
    }
  }

  @include media-query($on-palm) {
    .cards {
      flex-flow: column;
      margin: 0 4rem;
    }
    .card {
      width: auto;
      height: auto;
      max-width: 100%;
      margin-left: 0 !important;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .card-description {
        margin-top: 0.5rem;
      }
    }
  }
}
