.resume {
  .view-pdf {
    display: none;
    margin: auto;
    padding: 1rem 3rem;
    border-radius: 5px;
    border: 2px solid black;
    background: $grey;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  .print {
    text-align: center;
  }

  .wrapper {
    margin-top: 1rem;
    padding: 0 8rem;
    width: 100%;
    min-height: 0;
    display: grid;
    grid-template-areas:
      "A B"
      "C B";
    grid-auto-columns: 2fr 3fr;
    grid-auto-rows: minmax(0, 1fr);
    gap: 2rem;
  }

  .skills {
    grid-area: A;

    .skills-list {
      list-style: none;
      display: flex;
      flex-flow: wrap;
      gap: 0.25rem;

      .skill {
        padding: 0.25rem 0.75rem;
        border-radius: 30px;
        border: 2px solid black;
        background: $grey;
        transition: background 0.2s ease;

        &.active {
          background: $orange;
        }
      }
    }
  }

  .experience {
    display: flex;
    flex-flow: column;
    grid-area: B;
    max-height: 100%;

    .experience-list {
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      list-style: none;
      max-height: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 30px;
      }
    }

    .card {
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: 2px solid black;
      background: $grey;
      transition: background 0.2s ease;

      .first-row {
        display: flex;
        justify-content: space-between;

        .company {
          font-weight: bold;
          color: black;
          text-decoration: none;
        }

        a.company:hover {
          text-decoration: underline;
        }
      }
      .second-row {
        display: flex;
        justify-content: space-between;
        font-style: italic;
        font-size: 0.75em;
      }
      .description {
        margin-left: 1.5rem;
        margin-top: 0.25rem;
      }
    }

    .active .card {
      // border-color: $orange;
      background: $orange;
    }
  }

  .education {
    grid-area: C;
    align-self: flex-end;

    .school-list {
      list-style: none;

      li {
        border-radius: 10px;
        padding: 0.5rem 1rem;
        border: 2px solid black;
        background: rgba(190, 190, 190, 1);

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }

      .first-row {
        display: flex;
        justify-content: space-between;

        .name {
          font-weight: bold;
        }
        .date {
          text-align: right;
          white-space: nowrap;
        }
      }

      .location {
        font-size: 0.75em;
        font-style: italic;
      }
    }
  }

  @include media-query($on-palm) {
    min-height: 0;

    .view-pdf {
      display: block;
    }
    .print {
      display: none;
    }
    .wrapper {
      display: none;
    }
  }
}
