---
import Definition from "./Definition.astro";
---

<section id="home" class="max-w-5xl mx-auto h-screen pt-24">
  <h1 class="text-8xl font-bold uppercase">JOSH</h1>
  <p class="text-2xl opacity-25 mb-8">/jäSH/</p>
  <Definition
    subtitle="Engineer"
    description="A full-stack software engineer with experience building innovative solutions across multiple industries. Thrives in multi-disciplinary teams working on complex, real-world problems."
  />
  <Definition
    subtitle="Human"
    description="An extroverted, energetic teammate who will always strive to be optimistic and encouraging. Loves to work collaboratively and enjoys listening to music while he works."
  />
</section>
