<header class="sticky -top-48 z-10 @container-scroll py-8">
  <nav
    class="max-w-5xl mx-auto px-12 py-3 transition-transform duration-800 @stuck-top:rounded-full @stuck-top:bg-surface-1/25 @stuck-top:backdrop-blur-sm @stuck-top:translate-y-48 @stuck-top:shadow-sm"
  >
    <ul class="flex items-center gap-4 justify-between">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/experience">Experience</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<!-- <style>
  header {
    container-type: scroll-state;

    nav {
      @container scroll-state(stuck: top) {

      }
    }
  }
</style> -->
